/* stylelint-disable scss/no-global-function-names */
#reply-control .reply-to .whisper-hint {
  margin: 0 0 0 1em;
  padding: 2px 8px;
  font-size: var(--font-down-2);
  border-radius: 10px;

  .d-icon {
    margin-right: 4px;
  }

  &.whispering {
    color: var(--tertiary);
    background-color: var(--tertiary-low);
    box-shadow: 0 0 0 2px var(--tertiary-medium);
    opacity: 0.75;

    .d-icon {
      color: var(--tertiary);
    }
  }

  &.public {
    color: darken($color: goldenrod, $amount: 20);
    background-color: gold;
    box-shadow: 0 0 0 2px darken($color: goldenrod, $amount: 5);
    opacity: 0.75;

    .d-icon {
      color: darken($color: goldenrod, $amount: 20);
    }
  }
}
