#reply-control .reply-to .whisper-hint {
  margin: 0 0 0 1em;
  padding: 2px 8px;
  font-size: var(--font-down-2);
  border-radius: 10px;
  opacity: 0.75;

  .d-icon {
    margin-right: 4px;
    color: inherit;
  }

  &.whispering {
    color: var(--success);
    background-color: var(--success-low);
    box-shadow: 0 0 0 2px var(--success-medium);
  }

  &.public {
    color: var(--danger);
    background-color: var(--danger-low);
    box-shadow: 0 0 0 2px var(--danger-medium);
  }
}
